.popup__button-close {
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__button-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width:600px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
