.card__button-like {
  padding: 0;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/button-like.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  box-sizing: content-box;
  border: none;
  flex: none;
  align-self: center;
}

.card__button-like:hover {
  opacity: 0.5;
  cursor: pointer;
}

